html,body {
	font-family:sans-serif;
	margin:0px;
	padding:0px;
}

header {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	margin:12px 0px;
	border-bottom:2px solid;
	padding-bottom:12px;
}
header img {
	max-height:160px;
}
header section {
	margin-right:12px;
	margin-left:auto;
	text-align:right;
}
header section * {
	margin:0px;
}
header section h1 {
	font-size:4em;
}
header section h2 {
	font-size:3em;
}
header section aside {
	margin-left:4px;
}

ol {
	list-style: square;
	padding-left:0px;
}
li {
	border-radius:24px;
	border:solid 1px #aaa;
	list-style:none;
	padding:0px 32px;
	margin:12px;
	line-height:100%;
}
li::before {
	display:block;
	font-weight:normal;
	font-style:oblique;
	font-variant:all-small-caps;
	line-height:50%;
	margin-top:24px;
}
li.event-past {
	border:solid 1px #eee;
	background-color:#eee;
	color:#ababab;
}
li.event-present {
	border:solid 1px #0a0;
	background-color:#008900;
	color:#fff;
	font-size:150%;
}
li.event-present::before {
	content:"Happening Now";
}
li.event-future {
}
li.event-next {
	background-color:#bcf;
	font-size:150%;
}
li.event-next::before {
	content:"Up Next";
}
li h3 {
}
li aside {
	line-height:50%;
	font-variant:all-small-caps;
}
li h4 {
}


@media (max-width:640px) {
	header img {
		max-height:96px;
	}
	header section h1 {
		display:none;
	}
	header section h2 {
		font-size:2em;
	}
}
header * {
	margin-left:12px;
	margin-right:4px;
}
